body{
    padding-left: 20%;
    padding-right: 20%;
}
.indam {
    font-weight: bold;
    font-size: 18px;
}

.innghieng{
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
}
b{
    font-weight: bold;
    font-style: italic;
    color: #c43d3d;
    text-decoration-line: underline;
}
p{
    margin-left: 20px;
}

p.footer{
    margin-left: 0px;
}

hr{
    width:100%;
    border-bottom: 1.5px dashed red;
    border-top: 0px #0000;
}
ul{
    width: 300px;
    float: right;
    list-style: none;
    margin-top: 55px;
}
li{
    font-size:13px ;
    text-align: right;
    line-height: 1.5;
}
.khoangcach1{
    margin-left: 60px;
}
.khoangcach2{
    margin-left: 185px;
}

hr.dashed {
    border-top: 3px dashed #bbb;
}