
.indam {
    font-weight: bold;
    font-size: 18px;
}

.innghieng{
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
}
b{
    font-weight: bold;
    font-style: italic;
    color: #c43d3d;
    text-decoration-line: underline;
}
p{

    margin-left: 20px;
}
hr{
    height:6px;
    width:100%;
    background-color: #e86868;
}
ul{
    width: 300px;
    float: right;
    list-style: none;
}
li{
    font-size:18px ;
    text-align: right;
    line-height: 1.5;
}
.khoangcach1{
    margin-left: 60px;
}
.khoangcach2{
    margin-left: 176px;
}