html {

    background: rgba(71, 162, 40, 0.96);
}
.container{
    width: 510px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: rgb(110, 27, 110);

}
.container-1{
    width: 510px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: rgb(255, 255, 255);
}
h1{
    color: #FFFFFF;
    height: 10px;
    margin-bottom: unset;
}
form {
    display: flex;
    flex-direction: column;
}

.form-item {
    margin: 5px;
    padding-bottom: 10px;
    display: flex;
}

.form-item input {
    width: 150px;
    height: 30px;
    border: 2px solid #e1dede69;
    border-radius: 5px;
    background: rgba(246, 245, 245, 0.54);
    color: black;
    text-align: left;
    margin: 0 5px;
}

.form-item-email {
    margin: 0 5px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.form-item-email input {
    height: 30px;
    border: 2px solid #e1dede69;
    border-radius: 5px;
    background: white;
    color: black;
    text-align: left;
    margin: 0 5px;
}

.form-item-password {
    margin: 5px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.form-item-password input {
    height: 30px;
    border: 2px solid #e1dede69;
    border-radius: 5px;
    background: white;
    color: black;
    text-align: left;
    margin: 5px 5px;
}
.remember-box {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    display: flex;
}

.remember-box a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
}

.remember-box a:hover {
    color: grey;
}

.form-btns {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px 0;
}

.form-btns button {
    margin: auto;
    font-size: 20px;
    padding: 5px 15px;
    border: 0;
    border-radius: 15px;
    color: rgb(75, 61, 61);
    background: #fbba50;
    width: 280px;
    cursor: pointer;
}

.form-btns button:disabled {
    background: #8f8b85 !important;
    color: rgb(131, 120, 120) !important;
    cursor: not-allowed;
}

.form-btns button:hover {
    background: #d88a0c;
    color: antiquewhite;
}

.options {
    padding-top: 15px;
    margin: auto;
    color: white;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.options a {
    font-size: 13px;
    color: white;
}

.options a:hover {
    color: rgb(167, 165, 165);
}

p {
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(23, 2, 2, 0.09);
}