@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #2c2c2c;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;;
    line-height: 1.5;
    background-color: #fafafa;
    font-weight: 400;
    text-align: left;
    max-width: 1200px;
    margin: 10px auto;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
}

.section {
    float: left;
    width: 100%;
}

.container {
    width:1200px;
    margin: 0;
    float: none;
}

.menu li {
    display: inline-block;
    margin-right: 5px;
}
