h1{
    ?*color: #ffa500;
}
p{
    color: #008b8b;
    font-size: 26px;
    font-family: ;"Time New  ROman"
    font-weight: 400;
    text-align: justify; /* Left right center justify*/
    text-decoration: none;
    texr-transformm: none;
    font-style: italic;
    line-height: 1.5;
    background-color: rgba(176, 152, 152, 0.77);
    width: 400px;
    float: left;/* left right none*/
    margin: 15px;
}
a{
    text-decoration: none;
    color: red;
}